[
	{
		"id": "1",
		"topic": "Mein erster Task",
		"done": false,
		"createdate": "01.01.2014",
		"donedate": ""
	},
	{
		"id": "2",
		"topic": "Mein zweiter Task",
		"done": false,
		"createdate": "01.01.2014",
		"donedate": ""
	},
	{
		"id": "3",
		"topic": "Mein dritter Task",
		"done": true,
		"createdate": "01.01.2014",
		"donedate": "31.10.2015"
	},
	{
		"id": "4",
		"topic": "Mein vierter Task",
		"done": false,
		"createdate": "01.01.2014",
		"donedate": ""
	},
	{
		"id": "5",
		"topic": "Mein fünfter Task",
		"done": true,
		"createdate": "01.01.2014",
		"donedate": "24.11.2015"
	},
	{
		"id": "6",
		"topic": "Mein sechster Task",
		"done": false,
		"createdate": "01.01.2014",
		"donedate": ""
	}
]